<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon_2.ico?1" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" lang="javascript" src="javascripts/funzioni_pagina.js"></script>
    

    <title>Nome_Progetto</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">

    <script src="https://www.google.com/maps/embed/v1/Place?key=AIzaSyDRte0oBV4LTAKsy-Au6pvf65zYEhj7r28&q=Rome+IT" async defer></script>
    
  </head>

  <body onload="initMap()">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <h1 class="navbar-brand">Nome_Progetto</h1>
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/users/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/users/profile">Profilo</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/users/logout">Logout</a>
            </li>
          </ul>
          <div class="clock" id="clock"></div>
        </div>
      </nav>
    </header>

  <!-- Begin page content -->
  <main role="main" class="container">
    <div class="div0">
      <div class = "div1">
        <!--Selezione del Paese-->
        <form class="form-inline mt-2 mt-md-0" name = "form_citta">
          <input class="form-control mr-sm-2" type="textbox" id = "address" placeholder="eg: Rome, IT" aria-label="Search"><br><br>
          <input type="date" name="date" id = "data"></input><br><br><br>
          <button class="btn btn-outline-primary btn-block" id = "bottone_città" type="button" onclick="clientOpenWeather()">Search</button>
        </form>
      </div>

      <div class="div2">
        <h9 id = "infocitta">City:    </h9>
        <button class="btn btn-outline-primary btn-sm" id = "aggiungi_città" type="button">Add city</button>
        <button class="btn btn-outline-primary btn-sm" id = "rimuovi_città" type="button">Remove city</button>
        <br><br>
        <table id = "tabella" border = 1 cellpadding = 5>
          <tr>
            <th></th>
            <th>00:00</th>
            <th>03:00</th>
            <th>06:00</th>
            <th>09:00</th>
            <th>12:00</th>
            <th>15:00</th>
            <th>18:00</th>
            <th>21:00</th>   
          </tr>
          <tr>
            <td>Weather</td>
            <td id = weather00:00:00></td>
            <td id = weather03:00:00></td>
            <td id = weather06:00:00></td>
            <td id = weather09:00:00></td>
            <td id = weather12:00:00></td>
            <td id = weather15:00:00></td>
            <td id = weather18:00:00></td>
            <td id = weather21:00:00></td>
          </tr>
          <tr>
            <td>Temp</td>
            <td id = "temp00:00:00"></td>
            <td id = "temp03:00:00"></td>
            <td id = "temp06:00:00"></td>
            <td id = "temp09:00:00"></td>
            <td id = "temp12:00:00"></td>
            <td id = "temp15:00:00"></td>
            <td id = "temp18:00:00"></td>
            <td id = "temp21:00:00"></td>
          </tr>
          <tr>
            <td>T.Max</td>
            <td id = "t_max00:00:00"></td>
            <td id = "t_max03:00:00"></td>
            <td id = "t_max06:00:00"></td>
            <td id = "t_max09:00:00"></td>
            <td id = "t_max12:00:00"></td>
            <td id = "t_max15:00:00"></td>
            <td id = "t_max18:00:00"></td>
            <td id = "t_max21:00:00"></td>
          </tr>
          <tr>
            <td>T.Min</td>
            <td id = "t_min00:00:00"></td>
            <td id = "t_min03:00:00"></td>
            <td id = "t_min06:00:00"></td>
            <td id = "t_min09:00:00"></td>
            <td id = "t_min12:00:00"></td>
            <td id = "t_min15:00:00"></td>
            <td id = "t_min18:00:00"></td>
            <td id = "t_min21:00:00"></td>
          </tr>
          <tr>
            <td>Humidity</td>
            <td id = "humidity00:00:00"></td>
            <td id = "humidity03:00:00"></td>
            <td id = "humidity06:00:00"></td>
            <td id = "humidity09:00:00"></td>
            <td id = "humidity12:00:00"></td>
            <td id = "humidity15:00:00"></td>
            <td id = "humidity18:00:00"></td>
            <td id = "humidity21:00:00"></td>
          </tr>
          <tr>
            <td>Wind</td>
            <td id = "wind00:00:00"></td>
            <td id = "wind03:00:00"></td>
            <td id = "wind06:00:00"></td>
            <td id = "wind09:00:00"></td>
            <td id = "wind12:00:00"></td>
            <td id = "wind15:00:00"></td>
            <td id = "wind18:00:00"></td>
            <td id = "wind21:00:00"></td>
          </tr>

        </table>
      </div>
      <!--Mappa-->
      <div class = "map" id="map"></div>

    </div>
  </main>


   

   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
