<html>
    <head>
        <title> Nome_Progetto</title>
        <link rel="shortcut icon" href="images/favicon_2.ico?1" />
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="710894659667-qtrk5bnr8p5q9sud6ta184acbr14btjb.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/signin.css" rel="stylesheet">
        <script type="text/javascript" lang="javascript" src="javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body class="text-center"> 
        <div class = "div">
            <form class="form-sign" method="POST" name="form_login">
                <h1 class="h3 mb-3 font-weight-normal">Nome_Progetto</h1>
                <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required autofocus/><br>
                <input type="password" name="inputPassword" class="form-control" placeholder="Password" required autofocus/><br>
                <button class="btn btn-sm btn btn-outline-primary btn-block" type="submit" name = "loginButton">Sign in</button> <br>
                <a href="/signup">Sign up</a>
            </form>
        </div>
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        //console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        //console.log('Full Name: ' + profile.getName());
        //console.log('Given Name: ' + profile.getGivenName());
        //console.log('Family Name: ' + profile.getFamilyName());
        //console.log("Image URL: " + profile.getImageUrl());
        //console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        
        var xhr = new XMLHttpRequest();
		xhr.open('POST', 'https://hidden-fjord-76821.herokuapp.com/tokensignin');
		xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		xhr.onload = function() {
		console.log('Signed in as: ' + xhr.responseText);
		window.location.replace('https://hidden-fjord-76821.herokuapp.com' + xhr.responseText);
		};
		xhr.send('idtoken=' + id_token+'&fullname=' +profile.getName()+'&email=' +profile.getEmail()+'&givenname='+profile.getGivenName());
        
      }
    </script>

           
    </body>
</html>
