<html>
    <head>
        <title>City&Weather</title>
        <link rel="shortcut icon" href="images/favicon_2.ico?1" />
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/signin.css" rel="stylesheet">
        <script type="text/javascript" lang="javascript" src="javascripts/bootstrap.min.js"></script>
        <script type="text/javascript" lang="javascript" src="javascripts/registrazione.js"></script>
    </head>
    
    <body class="text-center">
        <div class="div">
            <form class="form-sign"  name="form_registrazione" onSubmit="return corretta()">
                <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
                <input type="text" name="name" class="form-control" placeholder="Name" <%=name%> required autofocus/><br>
                <input type="text" name="surname" class="form-control" placeholder="Surname" <%=surname%> required autofocus/><br>
                <input type="email" name="inputEmail" class="form-control" placeholder="Email address" <%=email%> required autofocus/><br>
                <input type="password" name="inputPassword" class="form-control" placeholder="Password" required/><br>
                <input type="password" name="controllaPassword" class="form-control"placeholder="Confirm password" required><br>
                <button class="btn btn-sm btn btn-outline-primary btn-block" type="submit" name = "registrationButton" id = "registrationButton" >Sign up</button> 
            </form>
        </div>
            
    </body>
</html>
