<html>
    <head>
        <title> Nome_Progetto</title>
        <link rel="shortcut icon" href="images/favicon.ico" />
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/signin.css" rel="stylesheet">
        <script type="text/javascript" lang="javascript" src="javascripts/bootstrap.min.js"></script>
    </head>
    <body class="text-center"> 
        <div class = "div">
            <form class="form-sign" method="POST" name="form_login">
                <h1 class="h3 mb-3 font-weight-normal">Nome_Progetto</h1>
                <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required autofocus/><br>
                <input type="password" name="inputPassword" class="form-control" placeholder="Password" required autofocus/><br>
                <button class="btn btn-sm btn btn-outline-primary btn-block" type="submit" name = "loginButton">Sign in</button> <br>
                <a href="/signup">Sign up</a>
            </form>
        </div>
           
    </body>
</html>
